{% extends "base.html" %}

{% block content %}
{% include "flash.html" %}
    <form class="form-horizontal" action="" method="post" name="edit">
        {{ form.hidden_tag() }}

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="sex">Sex:</label>
            <div class="controls">
                {{ form.sex() }}
                {% for error in form.errors.sex %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="units">Units:</label>
            <div class="controls">
                {{ form.units() }}
                {% for error in form.errors.units %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="weight">Your weight:</label>
            <div class="controls">
                {{ form.weight(cols = 64, rows = 4, class = "span4") }}
                {% for error in form.errors.weight %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="squat">Squat:</label>
            <div class="controls">
                {{ form.squat(cols = 64, rows = 4, class = "span4") }}
                {% for error in form.errors.squat %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="bench">Bench:</label>
            <div class="controls">
                {{ form.bench(cols = 64, rows = 4, class = "span4") }}
                {% for error in form.errors.bench %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="deadlift">Deadlift:</label>
            <div class="controls">
                {{ form.deadlift(cols = 64, rows = 4, class = "span4") }}
                {% for error in form.errors.deadlift %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Save Changes">
            </div>
        </div>
    </form>
{% endblock %}
