{% extends "base.html" %}

{% block content %}
<h1>Enter your latest lift!</h1>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="edit">
        {{ form.hidden_tag() }}


        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="bw">Bodyweight:</label>
            <div class="controls">
                {{ form.bw(class="span4") }}
                {% for error in form.errors.bw %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="lift">Lift:</label>
            <div class="controls">
                {{ form.lift(class = "span4") }}
                {% for error in form.errors.lift %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="weight">Weight:</label>
            <div class="controls">
                {{ form.weight(class="span4") }}
                {% for error in form.errors.weight %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="reps">Reps:</label>
            <div class="controls">
                {{ form.reps(class="span4") }}
                {% for error in form.errors.reps %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="rpe">RPE:</label>
            <div class="controls">
                {{ form.rpe(class="span4") }}
                {% for error in form.errors.rpe %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Save Changes">
            </div>
        </div>
    </form>
</div>
{% endblock %}
