<!-- extend user_nav layout -->
{% extends "user_nav.html" %}
{% set active_page = "dashboard" %}

{% block user_content %}
{% include 'flash.html' %}

<div class="well well-large" style="height: 140px;">
    <div class="pull-right">
        <img src="{{user.avatar(128)}}" class="img-polaroid">
    </div>
    <h1>{{user.username}}</h1>
    {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
    {% if user.last_seen %}<p><em>Last seen on: {{user.last_seen}}</em></p>{% endif %}
    {% if user.id == g.user.id %}
        <a href="{{url_for('edit')}}">Edit your profile</a>
    {% elif not g.user.is_following(user) %}
        <a href="{{url_for('follow', username = user.username)}}">Follow</a>
    {% else %}
        <a href="{{url_for('unfollow', username = user.username)}}">Unfollow</a>
    {% endif %}
    </p>
</div>
{% for lift in lifts %}
    <p><a href="{{url_for('user', username=lift.lifter.username)}}">{{lift.lifter.username}}</a> hit a {{ lift.weight }}x{{ lift.reps }} {{ lift.lift }} on {{lift.timestamp}}</p>
{% endfor %}

{% for chart in charts %}
    <!-- TODO: make these chart heights scale -->
    <div id={{ chart['chartID']|safe }} class="chart" style="height: 400px; width: 500px"></div>
{% endfor %}

<script>
    var chart_id = []
    var series = []
    var title = []
    var xAxis = []
    var yAxis = []
    var chart = []
    {% for chart in charts %}
        chart_id.push({{ chart['chartID']|safe }})
        series.push({{ chart['series']|safe }})
        title.push({{ chart['chartTitle']|safe }})
        xAxis.push({{ chart['xAxis']|safe }})
        yAxis.push({{ chart['yAxis']|safe }})
        chart.push({{ chart['chart']|safe }})
    {% endfor %}
</script>

{% endblock %}
