<!-- extend user_nav layout -->
{% extends "user_nav.html" %}
{% set active_page = "workouts" %}

{% block user_content %}

<!-- TODO: change to glyphicon-edit and glyphicon-delete -->
{% for lift in lifts %}
    <div>
        <a href="{{ url_for('user_workouts_delete', username=user.username, lift_id=lift.id) }}">delete</a>
        <a href="{{ url_for('user_workouts_edit', username=user.username, lift_id=lift.id) }}">edit</a>
        {{ lift.weight }}x{{ lift.reps }} {{ lift.lift}}
    </div>
{% endfor %}

{% endblock %}
